/* Small devices (portrait phones, 576px and up) */
@media (min-width: 320px) {
    /* === CSS for Common Text === */
    .heading.md > h2 {
        font-size: 21px;
        line-height: 30px;
    }
    .heading.md > h3 {
        font-size: 18px;
        line-height: 26px;
    }
    .heading.md > h2 {
        font-weight: 800;
    }
    .heading.md > h3 {
        font-weight: 500;
    }
    .font-16 {
        font-size: 13px;
    }
    .font-18,
    .static-content-section p {
        font-size: 15px;
        line-height: 20px;
    }
    .font-24 {
        font-size: 16px;
        line-height: 22px;
    }
    .list-top-space-sm > li:not(:first-child), .list-top-space-sm > div:not(:first-child) {
        padding-top: 8px;
    }
    .map-container {
        padding-bottom: 56.25%;
    }
    /* === End CSS for Common Text === */

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .navbar-expand-lg .navbar-nav > li > .nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* === CSS for Our Products section === */
    .destination-section > .destination-item .destination-details {
        padding-left: 10px;
    }
    .content-blocks ol li + li, .content-blocks ul li + li {
        margin-top: 6px;
    }
    /* === End CSS for Our Products section === */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* === CSS for Common Text === */
     .heading.md > h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .heading.md > h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .font-16 {
        font-size: 14px;
    }
    .font-18,
    .static-content-section p {
        font-size: 16px;
        line-height: 24px;
    }
    .font-24 {
        font-size: 18px;
        line-height: 26px;
    }
    .list-top-space-sm > li:not(:first-child), .list-top-space-sm > div:not(:first-child) {
        padding-top: 10px;
    }
    /* === End CSS for Common Text === */
    .btn {
        height: 40px;
    }

    /* === CSS for Our Products section === */
    .destination-section > .destination-item:nth-child(even) .destination-block {
        -ms-flex-direction: row-reverse!important;
        flex-direction: row-reverse!important;
    }
    .destination-section > .destination-item:nth-child(odd) .destination-img {
        margin-left: 16px;
    }
    .destination-section > .destination-item:nth-child(even) .destination-img {
        margin-right: 16px;
    }
    .destination-section > .destination-item:nth-child(odd) .destination-content {
        padding-left: 16px;
    }
    .destination-section > .destination-item:nth-child(even) .destination-content {
        padding-right: 16px;
    }
    /* === End CSS for Our Products section === */
    .footer-address {
        max-width: 200px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    /* === CSS for Header section === */
    .fixed-top {
        position: fixed!important;
        z-index: 1030!important;
    }
    .header-section .fixed-top {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header-section.fix-header .navbar {
        background-color: rgba(255, 255, 255,1);
        -webkit-box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .header-section.fix-header .navbar-brand img {
        max-width: 90%;
    }
    /* === End CSS for Header section === */
    .banner-slider,
    .inner-pages-wrapper  {
        padding: 110px 0 0;
    }

    /* === CSS for Our Products section === */
    .destination-section .destination-details {
        padding-left: 28px;
    }
    .destination-section > .destination-item:nth-child(odd) .destination-content {
        padding-left: 30px;
    }
    /* === End CSS for Our Products section === */

    .map-container {
        padding-bottom: 76%;
    }
    /* === Inner Page Common CSS === */
    /* === End Inner Page Common CSS === */
}

@media (min-width: 1024px) {
    /* === CSS for Common Text === */
    .heading.md > h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .heading.md > h3 {
        font-size: 28px;
        line-height: 40px;
    }
    .font-16 {
        font-size: 16px;
    }
    .font-18,
    .static-content-section p {
        font-size: 18px;
        line-height: 30px;
    }
    .font-24 {
        font-size: 24px;
        line-height: 36px;
    }
    /* === End CSS for Common Text === */

    /* === CSS for Header section === */
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 20px;
        padding-left: 20px;
    }
    .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }
    /* === End CSS for Header section === */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* === CSS for Our Products section === */
    .destination-section > .destination-item:nth-child(odd) .destination-content {
        padding-left: 48px;
    }
    /* === End CSS for Our Products section === */
}
@media (max-width: 1280px) {
}

@media (max-width: 1350px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }

@media (max-width: 1100px) {
    /* === CSS for Header section === */
    .navbar-brand img {
        width: 100%;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 12px;
        padding-left: 12px;
    }
    /* === End CSS for Header section === */

    /* === CSS for Banner section === */
    .banner-heading {
        font-size: 36px;
    }
    .banner-content p {
        line-height: 24px;
    }
    /* === End CSS for Banner section === */

    /* CSS for Home about section */
    .abt-section {
        padding: 80px 0;
    }
    /* End CSS for Home about section */

    /* === CSS for Our Products section === */
    .lg-section-heading {
        padding-top: 60px;
    }
    .destination-item {
        padding: 120px 0 70px;
    }
    /* === End CSS for Our Products section === */

    /* === CSS for Contact section === */
    .contact-block {
        padding: 20px;
    }
    .contact-bg-text {
        right: 0;
    }
    /* === End CSS for Contact section === */

    /* === CSS for Our Product Page === */
    .inner-banner {
        padding: 25px;
    }
    /* === End CSS for Our Product Page === */
}

@media (max-width: 1024px) {
    .owl-theme .owl-dots .owl-dot span {
        width: 16px;
        height: 5px;
    }

    .banner-content {
        padding: 160px 0;
    }
    /* === CSS for Contact section === */
    .contact-block {
        padding: 0;
    }
    /* === End CSS for Contact section === */
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

    /* === CSS for Header section === */
    .navbar {
        padding: .75rem 1rem;
    }
    .navbar-collapse {
        height: auto !important;
        overflow-y: auto;
        max-height: none;
        background-color: rgba(87, 147, 207,.97);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 100%;
        border: 0;
        padding: 0 40px 0 80px;
        z-index: 9;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.6s cubic-bezier(0.26, 0.55, 0.49, 0.96);
        -moz-transition: all 0.6s cubic-bezier(0.26, 0.55, 0.49, 0.96);
        -ms-transition: all 0.6s cubic-bezier(0.26, 0.55, 0.49, 0.96);
        transition: all 0.6s cubic-bezier(0.26, 0.55, 0.49, 0.96);
        -webkit-transition-delay: .2s;
        -moz-transition-delay: .2s;
        -ms-transition-delay: .2s;
        transition-delay: .2s;
    }
    .navbar-toggler, 
    .navbar-collapse, 
    .navbar-collapse.collapse, 
    .navbar-collapse.collapsing, 
    .navbar-collapse.collapse.show {
        display: block!important;
    }
    .navbar-collapse.show {
        opacity: 1;
        pointer-events: all;
        bottom: 0;
        padding: 100px 40px;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        -ms-transition-delay: 0;
        transition-delay: 0;
    }
    .navbar-toggler[aria-expanded="true"] {
        position: fixed;
        right: 15px;
        margin: 0;
        z-index: 999;
    }
    .navbar-show {
        height: 100%;
        overflow: hidden;
    }
    .navbar-toggler .toggle-icon {
        display: block;
        height: 2px;
        width: 28px;
        background-color: #5793ce;
        -webkit-transition: all 0.4s 0s cubic-bezier(0.26, 0.55, 0.49, 0.96);
        -moz-transition: all 0.4s 0s cubic-bezier(0.26, 0.55, 0.49, 0.96);
        -ms-transition: all 0.4s 0s cubic-bezier(0.26, 0.55, 0.49, 0.96);
        transition: all 0.4s 0s cubic-bezier(0.26, 0.55, 0.49, 0.96);
    }
    .navbar-toggler .toggle-icon + .toggle-icon {
        margin-top: 6px;
    }
    .navbar-toggler[aria-expanded="true"] .toggle-icon:first-child {
        transform: rotate(45deg);
        opacity: 1;
    }
    .navbar-toggler[aria-expanded="true"] .toggle-icon:last-child {
        transform: rotate(-45deg);
        opacity: 1;
        margin-top: -10px;
    }
    .navbar-toggler[aria-expanded="true"] .toggle-icon {
        background-color: #fff;
        opacity: 0;
        -webkit-transition-delay: 0.8s;
        -moz-transition-delay: 0.8s;
        -ms-transition-delay: 0.8s;
        transition-delay: 0.8s;
    }
    .navbar-toggler:focus, .navbar-toggler:hover {
        outline: 0;
    }
    .nav-item .nav-link {
        color: #fff;
    }
    .navbar-nav .nav-item + .nav-item {
        margin-top: 10px;
    }
    .navbar-nav li a {
        transform: translateY(10px);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.26, 0.55, 0.49, 0.96);
        -moz-transition: all 0.6s cubic-bezier(0.26, 0.55, 0.49, 0.96);
        -ms-transition: all 0.6s cubic-bezier(0.26, 0.55, 0.49, 0.96);
        transition: all 0.6s cubic-bezier(0.26, 0.55, 0.49, 0.96);
        -webkit-transition-delay: 0.6s;
        -moz-transition-delay: 0.6s;
        -ms-transition-delay: 0.6s;
        transition-delay: 0.6s;
    }
    .navbar-collapse.show .navbar-nav li a {
        opacity: 1;
        transform: translateY(0);
        -webkit-transition-delay: 0.6s;
        -moz-transition-delay: 0.6s;
        -ms-transition-delay: 0.6s;
        transition-delay: 0.6s;
    }
    .navbar-collapse.show .navbar-nav li + li a {
        -webkit-transition-delay: 0.7s;
        -moz-transition-delay: 0.7s;
        -ms-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }
    .navbar-collapse.show .navbar-nav li + li + li a {
        -webkit-transition-delay: 0.8s;
        -moz-transition-delay: 0.8s;
        -ms-transition-delay: 0.8s;
        transition-delay: 0.8s;
    }
    .navbar-collapse.show .navbar-nav li + li + li + li a {
        -webkit-transition-delay: 0.9s;
        -moz-transition-delay: 0.9s;
        -ms-transition-delay: 0.9s;
        transition-delay: 0.9s;
    }
    .navbar-collapse.show .navbar-nav li + li + li + li + li a {
        -webkit-transition-delay: 1s;
        -moz-transition-delay: 1s;
        -ms-transition-delay: 1s;
        transition-delay: 1s;
    }
    .hs-has-sub-menu > .nav-link:before {
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }
    .hs-sub-menu {
        background: transparent;
        padding: 10px 20px 0;
    }
    /* === End CSS for Header section === */

    /* === CSS for Banner section === */
    .banner-content .btn {
        height: 34px;
        padding: 8px 50px 8px 14px;
    }
    .banner-content .btn span {
        height: 32px;
        width: 32px;
    }
    .fixed-top {
        position: relative;
        z-index: 1030;
        background: #fff;
        -webkit-box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .contact-section:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top:0;
        background: rgba(0,0,0,.5);
        z-index: 2;
    }
    .contact-section > .container {
        z-index: 9;
    }
    .contact-bg-text h2 {
        color: #8b8b8b;
    }
    .contact-block {
        color: #fff;
    }
    /* === End CSS for Banner section === */

    /* CSS for Home about section */
    .abt-section,
    .static-content-section,
    .ps-testimonials-section,
    .contact-us-wrapper,
    .ps-stats {
        padding: 60px 0;
    }
    /* End CSS for Home about section */

    /* === CSS for Our Products section === */
    .lg-section-heading {
        padding-top: 40px;
    }
    .destination-item {
        padding: 80px 0 50px;
    }
    /* === End CSS for Our Products section === */

    /* === CSS for Counting Blokcs Gradient Section === */
    .counter-sections {
        padding: 50px 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .counter-text p {
        font-size: 18px;
        line-height: 18px;
    }
    /* === End CSS for Counting Blokcs Gradient Section === */

    /* === CSS for Email Section  === */
    .email-block {
        padding: 20px;
    }
    .email-box-bg-text {
        font-size: 40px;
        line-height: 58px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
    }
    .email-heading-block .heading h2 {
        font-size: 28px;
    }
    .email-block .email-heading-block {
        width: 230px;
        padding: 20px 15px;
    }
    .email-field-block {
        width: calc(100% - 230px);
        padding-left: 15px;
    }
    /* === End CSS for Email Section  === */

    /* === Inner Page Common CSS === */
     .inner-pages-wrapper {
        padding-top: 20px;
    }
    /* === End Inner Page Common CSS === */

    /* === CSS for Footer Section === */
    .social-links>li:not(:first-child) {
        padding-left: 15px;
    }
    .footer-links-list a {
        margin: 2px 0;
    }
    /* === End CSS for Footer Section === */
    
}

@media (max-width: 991.98px) and (orientation: landscape) {
    .navbar-collapse.show {
        padding: 80px 50px;
    }
}
@media (max-width: 575.8px) and (orientation: landscape) {
    .navbar-collapse.show {
        padding: 50px;
    }
}

@media (max-width: 575.8px) and (orientation: portrait) {
}

@media (max-width: 1024px) and (orientation: landscape) {
}

@media (max-width: 1024px) and (orientation: portrait) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        font-size: 14px;
    }
    .btn {
        padding: .275rem 1.2rem;
        font-size: 11px;
    }
    .banner-heading {
        font-size: 30px;
    }
    footer {
        padding: 20px 0;
    }
    /* CSS for Home about section */
    .ps-stats,
    .abt-section,
    .contact-section,
    .counter-sections,
    .static-content-section,
    .contact-us-wrapper,
    .ps-testimonials-section {
        padding: 35px 0;
    }
    /* End CSS for Home about section */
    .banner-content {
        padding: 80px 0;
    }
    
    /* === CSS for Our Products section === */
    .destination-img {
        max-width: 270px;
    }
    .destination-block .col-md-4 {
        padding-left: 30px;
        /* padding-bottom: 25px; */
    }
    .destination-item {
        padding: 50px 0 35px;
    }
    .destination-section  .destination-img {
        margin: auto;
    }
    .destination-count {
        font-size: 60px;
        line-height: 50px;
    }
    .destination-bg-text,
    .destination-section > .destination-item:nth-child(even) .destination-bg-text {
        top: 15px;
        left: 0;
    }
    /* === End CSS for Our Products section === */

    /* === CSS for Email Section  === */
    .email-block .email-heading-block {
        width: 200px;
        padding: 15px 10px;
    }
    .email-field-block {
        width: calc(100% - 200px);
        padding-left: 10px;
    }
    .email-heading-block .heading h2 {
        font-size: 24px;
    }
    .email-box-bg-text {
        font-size: 35px;
        line-height: 44px;
    }
    .email-section {
        padding: 45px  0px;
    }
    /* === End CSS for Email Section  === */

    /* === CSS for Static Content Block === */
    .static-content-section h4 {
        font-size: 18px;
        line-height: 22px;
    }
    .inner-pages-wrapper {
        background-image: none!important;
    }
    /* === CSS for Static Content Block === */
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* === CSS for Header section === */
    .navbar-brand {
        max-width: 130px;
    }
    /* === End CSS for Header section === */

    .banner-bg-text {
        left: 0;
    }
    .banner-bg-text h2 {
        font-size: 23.51vw;
        line-height: 17.4vw;
    }
    .destination-count {
        font-size: 40px;
        line-height: 35px;
    }
    .lg-section-heading h2 {
        font-size: 12.7vw;
        line-height: 9vw;
    }
    .newsletter-heading h2 {
        font-size: 15.5vw;
        line-height: 13vw;
    }
    .destination-bg-text h2, .contact-bg-text h2 {
        font-size: 16.1vw;
        line-height: 11vw;
    }

    /* === CSS for Email Section  === */
    .email-field-block {
        width: 100%;
        padding-top: 15px;
        padding-left: 0;
    }
    .email-block {
        background-size: 60%;
    }
    /* === End CSS for Email Section  === */

    .inner-banner {
        padding: 60px 25px;
    }
}