* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-selection { 
    background: rgba(87, 147, 206,.4);
    color: #000; 
}
::-ms-selection { 
    background: rgba(87, 147, 206,.4);
    color: #000; 
}
::-moz-selection { 
    background: rgba(87, 147, 206,.4);
    color: #000; 
}
::selection { 
    background: rgba(87, 147, 206,.4);
    color: #000; 
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:#000000;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
    max-width: 2560px;
}
ol,ul,li {
    list-style-type: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p,
ol,ul,li {
    margin: 0;
    padding: 0;
}
a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}
.container {
    max-width: 1350px;
}

/* === CSS for Background Colors === */
.bg-fadeBlue {
    background-color: #EEF8FA!important;
}
.bg-black {
    background-color: #000000!important;
}
.bg-white {
    background-color: #ffffff!important;
}
/* === CSS for Background Colors === */

/* === CSS for Text Color === */
.text-orange {
    color: #f5a947!important;
}
/* === End for Text Color === */

/* === CSS for Buttons === */
.btn {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 9px 20px;
}
.btn:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -moz-transform: scale(1.03);
    transform: scale(1.03);
}
.btn-orange {
    background-color: #f39e37;
    color: #fff;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
    background-color: #5793ce;
    color: #fff;
}
/* === CSS for Buttons === */

/* ===  CSS for Common Text === */
.font-weight-thin {
    font-weight: 100!important;
}
.font-weight-medium {
    font-weight: 500!important;
}
.font-weight-semiBold {
    font-weight: 600!important;
}
.font-weight-extraBold {
    font-weight: 800!important;
}
/* === End CSS for Common Text === */

/* === CSS for Common Transition === */
.btn,
.btn:hover,
.banner-content .btn span,
.banner-content .btn:hover span,
.nav-item .nav-link,
.nav-item .nav-link:hover,
.nav-item .nav-link:after,
.nav-item .nav-link:hover:after ,
.transition-3ms {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* === End CSS for Common Transition === */

/* === Common CSS === */
.disable-selection *{
    -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.form-control {
    font-size: 14px;
}
.overlay-content {
    position: relative;
    z-index: 9;
}
.bg-text {
    position: absolute;
    z-index: 0;
}
/* === End Common CSS === */

/* === CSS for Header section === */
header * {
    font-size: 15px;
}
.nav-item .nav-link:after {
    content: '';
    width: 0;
    height: 3px;
    background: #f39e37;
    border-radius: 50px;
    display: block;
}
.nav-item.active .nav-link:after,
.nav-item .nav-link:hover:after {
    width: 20px;
}
.nav-item .nav-link {
    color: #000;
    font-weight: 400;
}
.nav-item.active > .nav-link {
    font-weight: 600;
}
.header-section,
.navbar,
.navbar-brand,
.header-section.fix-header .navbar-brand img,
.header-section.fix-header .navbar-brand img {
    -moz-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}
.navbar-brand {
    padding: 0;
    max-width: 210px;
}
.hs-has-sub-menu > .nav-link:before { 
    content: '';
    display: inline-block;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    position: absolute;
    top: 16px;
    right: 2px;
}
/* === End CSS for Header section === */

/* === CSS for Banner section === */

.banner-content {
    max-width: 530px;
    color:#fff;
    padding: 220px 0;
}
.banner-heading {
    max-width: 355px;
    font-size: 46px;
}
.banner-content p {
    line-height: 30px;
}
.banner-content .btn {
    height: 44px;
    padding: 11px 64px 11px 20px;
    position: relative;
}
.banner-content .btn span {
    height: 43px;
    width: 43px;
    background: #ff8836;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.banner-content .btn:hover span,
.banner-content .btn:focus span,
.banner-content .btn:active span {
    background: #2f6eac;
}
.banner-slider .item:after,
.inner-banner:after {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    z-index: 0;
}
.banner-slider .item > .container {
    z-index: 9;
    position: relative;
}

/* === End CSS for Banner section === */

/* CSS for Home about section */
.abt-section {
    padding: 150px 0;
}
.abt-section .container {
    max-width: 1040px;
}
/* End CSS for Home about section */
.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}
/* === CSS for Our Products section === */
.lg-section-heading h2 {
    font-size: 10.5vw;
    color: #ffdac8;
    font-weight: 800;
    line-height: 7.7vw;
}
.lg-section-heading.set-line-hight h2 {
    line-height: 11.7vw;
}
.md-section-heading h2 {
    font-size: 6.5vw;
    color: #ffdac8;
    font-weight: 800;
    line-height: 7.7vw;
}
.destination-bg-text,
.contact-bg-text {
    color: #FCFCFC;
}
.destination-bg-text h2,
.contact-bg-text h2 {
    font-size: 12.1vw;
    font-weight: 800;
    line-height: 9vw;
}
.destination-bg-text {
    top: -20px;
    left: -35px;
}
.destination-section > .destination-item:nth-child(even) .destination-bg-text {
    top: 30px;
    left: 10px;
}
.lg-section-heading .container {
    max-width: 1420px;
}
.lg-section-heading {
    padding-top: 100px;
}
.fade-white-gradient {
    background: -webkit-linear-gradient(0deg, rgb(255 255 255) 0%, rgb(250 250 250) 100%);
    background: linear-gradient(0deg, rgb(255 255 255) 0%, rgb(250 250 250) 100%);
}
.destination-item {
    padding: 160px 0 120px;
    position: relative;
    overflow: hidden;
    background: -webkit-linear-gradient(0deg, rgb(255 255 255) 0%, rgb(250 250 250) 100%);
    background: linear-gradient(0deg, rgb(255 255 255) 0%, rgb(250 250 250) 100%);
}
.destination-count {
    font-size: 8.83vw;
    font-weight: 100;
    line-height: 6.8vw;
    color: #d2d2d2;
}
.destination-img {
    max-width: 400px;
}
.destination-img:after,
.destination-img > .img-block,
.destination-img .img-block:after {
    -webkit-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.destination-img > .img-block {
    position: relative;
    padding-bottom: 100%;
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 9;
}
.destination-img:after {
    content: '';
    border: 1px solid #707070;
    display: block;
    position: absolute;
    left: -15px;
    right: 15px;
    bottom: 15px;
    top: -15px;
    z-index: 1;
}
.destination-description {
    max-width: 560px;
    max-height: 215px;
    overflow: hidden;
}
.destination-img:hover:after {
    top: -18px;
    left: -18px;
}
.destination-img:hover .img-block {
    -webkit-transform: translate(3px, 3px);
    -ms-transform: translate(3px, 3px);
    -moz-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
    -webkit-box-shadow: -10px -10px 15px 0px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: -10px -10px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: -10px -10px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: -10px -10px 15px 0px rgba(0, 0, 0, 0.05);
}
.destination-img .img-block:after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    background: rgba(0,0,0,.1);
    border-radius: 50%;
}
.destination-img:hover .img-block:after {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0;
}
/* === End CSS for Our Products section === */

/* === CSS for Counting Blokcs Gradient Section === */
.counter-sections:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    background: linear-gradient(to right, #373b44, #4286f4);
    opacity: .7;
}

.counter-sections {
    padding: 72px 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
.counter-text p {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 10px;
}
.counter-icon {
    height: 80px;
    width: 80px;
    margin: 0 auto 20px;
}
/* === End CSS for Counting Blokcs Gradient Section === */

/* === CSS for Email Section  === */
.email-section {
    padding: 85px 0;
}
.email-heading-block .heading h2 {
    font-size: 35px;
}
.email-block {
    background-color: #DE432A;
    padding: 35px;
    background-repeat: no-repeat;
    background-position: right 20px bottom -30px;
    overflow: hidden;
}
.email-box-bg-text {
    font-size: 65px;
    left: 10px;
    right: -20px;
    bottom: -20px;
    top: 10px;
    font-weight: 700;
    opacity: 0.08;
}
.email-block .email-heading-block {
    width: 356px;
    padding: 40px 35px;
}
.email-field-block {
    width: calc(100% - 356px);
    padding-left: 45px;
}
.email-heading-block .heading {
    max-width: 200px;
}
.email-form {
    max-width: 560px;
}
.email-form .form-control {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #DBDBDB;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
}
.email-form .form-control::placeholder {
    color: #fff;
}
.email-form .form-control:focus {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #DBDBDB;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
}
.btn-send {
    width: 60px;
    height: 54px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    background-color: transparent;
}
.btn-send:focus {
    outline: 0;
}
.btn-send:hover {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    -moz-transform: scale(.95);
    transform: scale(.95);
}
.email-field-block .font-18 {
    line-height: 22px;
}
/* === End CSS for Email Section  === */

/* === CSS for Contact section === */
.contact-section {
    padding: 65px 0;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.contact-block {
    padding: 60px;
    max-width: 590px;
    margin-left: auto;
}
.contact-form .form-control {
    color: #000000;
    height: 42px;
    padding: 12px 20px;
    border: 1px solid #AEAEAE;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.contact-form textarea {
    min-height: 100px;
    resize: none;
}
.contact-bg-text h2 {
    color: #FCFCFC;
    opacity: .37;
}
.contact-bg-text {
    top: 0px;
    right: -20px;
}
/* === End CSS for Contact section === */


.map-block iframe {
    width: 100%;
    height: 400px;
    margin-bottom: -7px;
}
/* === CSS for Footer Section === */
footer .container {
    z-index: 2;
}
.footer-logo {
    max-width: 160px;
}
.subscription-form .form-control {
    height: 60px;
    padding: 10px 160px 10px 30px;
}
.subscription-form .btn {
    right: 0;
    top: 0;
    padding: .95rem 3rem;
    position: absolute;
    font-size: 20px;
}
.copyright-content-block:before,
.line-after:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: #f5a947;
}
.copyright-content-block:before {
    top:0;
}
.line-after.left-align:before {
    margin: 0!important;
}
.line-after:before {
    bottom: 0;
    height: 3px;
    width: 30px;
}
.social-links>li:not(:first-child) {
    padding-left: 25px;
}
.social-links>li> a {
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.social-links>li> a:after {
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
    border: 1px solid #fecd38;
    left: -4px;
    top: -5px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
.social-links>li> a:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
.footer-links-list a {
    color: #fff;
    margin: 5px 0;
    display: inline-block;
}
.footer-links-list a:hover {
    letter-spacing: 1.5px;
}
.footer-links-list a:hover,
.social-links>li> a:hover i  {
    color: #f5a947;
}
.orange-gradient-border:before {
    content: '';
    left: 15px;
    right: 15px;
    top: 0;
    height: 1px;
    position: absolute;
    background: -webkit-linear-gradient(to right, #ffffff, #f5a947, #ffffff);
    background: linear-gradient(to right, #ffffff, #f5a947, #ffffff);
}
footer .orange-gradient-border:before {
    background: -webkit-linear-gradient(to right, #000000, #f5a947, #000000);
    background: linear-gradient(to right, #000000, #f5a947, #000000);
}
/* === CSS for Footer Section === */

/* === owl custom === */
.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 10px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f06f32;
}
.owl-dot .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.owl-theme .owl-dots .owl-dot span {
    background: #ffffff;
}
button:focus {
    outline: 0;
}
.owl-nav {
    position: absolute;
    left:0;
    right:0;
    top: 50%;
    transform: translateY(-50%);
}
.owl-nav .owl-prev {
    position: absolute;
    left: 0;
}
.owl-nav .owl-next {
    right: 0;
    position: absolute;
}
.owl-nav button {
    background: #f39e37!important;
    height: 40px;
    width: 30px;
    display: inline-block!important;
    border-radius: 0!important;
}
.owl-nav button span {
    font-size: 40px;
    color: #fff;
    line-height: 32px;
}
/* === End owl custom === */


/* ========== CSS for Back To Top Button ========== */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 36px;
    width: 36px;
    font-size: 22px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #f39e37;
    -webkit-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.back-to-top.visible {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    pointer-events: all;
}
.back-to-top span {
    height: 14px;
    width: 14px;
    display: block;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    margin: 14px auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.back-to-top:hover {
    background-color: #5793ce;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -moz-transform: scale(1.15);
    transform: scale(1.15);
}
/* ========== End CSS for Back To Top Button ========== */

/* === CSS for Our Product Page === */
.inner-banner-section .banner-content {
    padding: 80px 0;
}
.gradient-blue {
    background: #5793CE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(252deg, #5793CE 0%, #285EA0 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(252deg, #5793CE 0%, #285EA0 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.inner-banner {
    overflow: hidden;
    padding: 90px 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-img {
    padding-bottom: 82.135%;
    max-width: 285px;
    position: relative;
}
.banner-img img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    margin: auto;
}
.banner-bg-text {   
    bottom: 0;
    left: -5px;
    right: 0;
    letter-spacing: -2px;
}
.banner-bg-text h2 {
    font-size: 18.51vw;
    font-weight: 700;
    line-height: 13.4vw;
    color: #fff;
    opacity: .09;
}
/* === CSS for Our Product Page === */

/* === CSS for Static Content Block === */
.static-content-section,
.ps-testimonials-section,
.contact-us-wrapper,
.ps-stats {
    padding: 80px 0;
}
.static-content-section .container {
    max-width: 1190px;
}
.static-content-section p {
    font-weight: 300;
}
.static-content-section h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}
.content-blocks {
    padding-top: 20px;
}
.content-blocks ol li + li,
.content-blocks ul li + li {
    margin-top: 12px;
}
ol.number-list > li {
    list-style: decimal;
    font-weight: 700;
}
ol.number-list {
    padding-left: 18px;
}
.check-list > li {
    padding-left: 28px;
    position: relative;
}
.check-list > li:before {
    content: '';
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    display: block;
    position: absolute;
    width: 12px;
    height: 7px;
    left: 0;
    top: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.inner-pages-wrapper + .email-section {
    padding-top: 25px!important;
}
/* === CSS for Static Content Block === */

/* === CSS for Newsletter Headiing === */
.newsletter-heading .container {
    max-width: 1430px;
}
.newsletter-heading {
    color: #FCFCFC;
}
.newsletter-heading h2 {
    font-size: 12.935vw;
    line-height: 10vw;
    font-weight: 800;
}
/* === End CSS for Newsletter Headiing === */

/* === CSS for Stats Section === */
.ps-stats {
    background: #f7f7f7;
}
.ps-figure {
    font-size: 8vw;
    font-weight: 300;
    line-height: 7vw;
    display: inline-block;
}
.ps-figure-caption.pt-3 {
    font-size: 24px;
    font-weight: 600;
}
/* === End CSS for Stats Section === */

/* === CSS Testimonials Section === */
.ps-testimonial-block {
    max-width: 700px;
}
.ps-testimoni-picture {
    width: 128px;
    height: 128px;
}
#ps-testimonials.owl-theme .owl-dots .owl-dot.active span, 
#ps-testimonials.owl-theme .owl-dots .owl-dot:hover span {
    background: #f06f32;
}
#ps-testimonials.owl-theme .owl-dots .owl-dot span {
    background: #000;
}
/* === End CSS Testimonials Section === */


/* === CSS Contact Us Page === */
.map-container{
    position: relative;
    width: 100%;
}
.map-container > * {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.address {
    max-width: 280px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
}
.select2-container .select2-selection--single {
    height: 35px;
}
/* === End CSS Contact Us Page === */

/* === CSS for Custom Animation === */
.animation-delay-2ms {
    -webkit-animation-delay: 0.2s!important;
    -moz-animation-delay: 0.2s!important;
    -ms-animation-delay: 0.2s!important;
    animation-delay: 0.2s!important;
}
.animation-delay-3ms {
    -webkit-animation-delay: 0.3s!important;
    -moz-animation-delay: 0.3s!important;
    -ms-animation-delay: 0.3s!important;
    animation-delay: 0.3s!important;
}
.animation-delay-4ms {
    -webkit-animation-delay: 0.4s!important;
    -moz-animation-delay: 0.4s!important;
    -ms-animation-delay: 0.4s!important;
    animation-delay: 0.4s!important;
}
.animation-delay-5ms {
    -webkit-animation-delay: 0.5s!important;
    -moz-animation-delay: 0.5s!important;
    -ms-animation-delay: 0.5s!important;
    animation-delay: 0.5s!important;
}
.animation-delay-6ms {
    -webkit-animation-delay: 0.6s!important;
    -moz-animation-delay: 0.6s!important;
    -ms-animation-delay: 0.6s!important;
    animation-delay: 0.6s!important;
}
.animation-delay-7ms {
    -webkit-animation-delay: 0.7s!important;
    -moz-animation-delay: 0.7s!important;
    -ms-animation-delay: 0.7s!important;
    animation-delay: 0.7s!important;
}
.animation-delay-8ms {
    -webkit-animation-delay: 0.8s!important;
    -moz-animation-delay: 0.8s!important;
    -ms-animation-delay: 0.8s!important;
    animation-delay: 0.8s!important;
}

/* Bounce Animation keyfram */
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@-moz-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@-ms-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.bounce {
    -webkit-animation: bounce 1.6s ease-in-out infinite alternate; 
    -moz-animation: bounce 1.6s ease-in-out infinite alternate; 
    -ms-animation: bounce 1.6s ease-in-out infinite alternate; 
    animation: bounce 1.6s ease-in-out infinite alternate; 
}

/* arrow motion Animation keyfram */
@-webkit-keyframes arrow-motion {
    0% {
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    50% {
        -webkit-transform: translateX(2px);
        -moz-transform: translateX(2px);
        -ms-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes arrow-motion {
    0% {
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    50% {
        -webkit-transform: translateX(2px);
        -moz-transform: translateX(2px);
        -ms-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@-ms-keyframes arrow-motion {
    0% {
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    50% {
        -webkit-transform: translateX(2px);
        -moz-transform: translateX(2px);
        -ms-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes arrow-motion {
    0% {
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    50% {
        -webkit-transform: translateX(2px);
        -moz-transform: translateX(2px);
        -ms-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
.arrow-motion {
    -webkit-animation: arrow-motion 1s ease-in-out infinite alternate; 
    -moz-animation: arrow-motion 1s ease-in-out infinite alternate; 
    -ms-animation: arrow-motion 1s ease-in-out infinite alternate; 
    animation: arrow-motion 1s ease-in-out infinite alternate; 
}

/* === End CSS for Custom Animation === */
